<%= stylesheet_link_tag 'index' %>

<h3>New book</h3>
<%= form_with model: @book, url: '/books', method: :post do |f| %>

  <p class="new-form">Title<br>
  <%= f.text_field :title %>
  </p>
  
  <p class="new-form">Body<br>
  <%= f.text_area :body %>
  </p>
  
  <%= f.submit 'Create Book' %>

<% end %>

