<%= stylesheet_link_tag 'index' %>

<h3>New book</h3>
<%= form_with model: @book, url: '/books', method: :post do |f| %>

<div class="new-title">
  <label>Title</label>
  <%= f.text_field :title %>
</div>

<div class="new-body">
  <ladel>Body</label>
  <%= f.text_area :body %>
</div>

<div class="new-submit">
  <%= f.submit 'Create Book' %>
</div>
<% end %>

